html, body, *{
  margin: 0; 
  padding: 0;
  box-sizing:border-box;
  font-size: 10px;
  text-align: center;
}

:root{
  --light-grey: rgb(150, 150, 150);
  --white: rgb(223, 223, 223); 
  --light-white: #ffffff;
  --blue: #3970c2;

  --black: #0f0f0f;
  --light-black: #414141;
  --grey: #797979;
  --orange: rgb(228, 83, 0);

  --primary: var(--grey);
  --secondary: var(--light-black);
  --tertiary: var(--black);
  --opposite: var(--light-grey)
  --font-color: var(--orange);

  --h1: 4vw;
  --h2: 1vw;
}

body{
  background-color: var(--primary);
}

.light{
  --primary: var(--light-grey);
  --secondary: var(--white);
  --tertiary: var(--light-white);
  --font-color: var(--blue);
}

.dark{
  --primary: var(--grey);
  --secondary: var(--light-black);
  --tertiary: var(--black);
  --font-color: var(--orange);
}

h1{
  font-size: var(--h1);
  color: var(--font-color);
}

.header{
  width: 100vw;
  background-color: var(--tertiary);
  align-items: center;
  position: fixed;
}

.header-button{
  width: 100vw;
  margin-top: 0.2%;
  margin-bottom: 0.2%;
  padding: 1%;
  background-color: var(--secondary);
  align-items: center;
  justify-content: space-evenly;
}

.header-place{
  width: 100vw;
  background-color: var(--primary);
  height: 9vw;
}

button{
  margin-left: 0.5%;
  margin-right: 0.5%;
  padding: 0.1%;
  width: 10%;
  font-size: var(--h2);
  color: var(--font-color);
  background-color: var(--secondary);
}


.container{
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.world{
  width: 20%;
  height: 30vw;
  margin: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border: solid 0.5vw;
  border-radius: 2rem;
  border-color: var(--tertiary);
  background-color: var(--primary);
}

.imageholder{
  width: 70%;
  height: 45%;
  border: solid 0.5vw;
  border-radius: 1rem;
  border-color: var(--tertiary);
}

.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: hidden;
  border-radius: 0.5rem;
}

.title{
  font-size: 6vw;
  margin-top: 3.5%;
  margin-bottom: 2%;
}


.box{
  width: 100vw;
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
