html, body, *{
  margin: 0; 
  padding: 0;
  box-sizing:border-box;
  font-size: 10px;
  text-align: center;
}

:root{
  --light-blue: #b3daff;
  --dark-blue: #074fb4;

  --light-red: #ffb0b0;
  --dark-red: #ca2424;

  --primary: var(--light-blue);
  --secondary: var(--dark-blue);
  --font-color: #001010;

  --h1: 7.594rem;
}



body{
  background-color: var(--primary);
}

.warm{
  --primary: var(--light-red);
}

.cool{
  --primary: var(--light-blue);
}

h1{
  font-size: var(--h1);
}

.header{
  width: 100vw;
  padding: 1%;
  background-color: var(--secondary);
  align-items: center;
  justify-content: center;
  position: fixed;
}